body {
    max-width: 700px;
}
h1 {
    text-align: right; color: orange; font-size: 30px; font-weight: bold;
}
em {
    background-color: green; color: white; font-weight: bold;
}
p {
    font-weight: normal; text-align: left; font-size: 18px;
}
p:first-letter {
    font-size: 30px; color: red; font-weight: bold;
}

#allotment > h2 {
   color: orange;
}
#warehouse > h2 {
    color: blue;
}
ul {
    font-weight: bold;
}
#allotment .fruits-list {
    font-weight: normal; color: grey;
}
.vegetables-list {
    font-weight: normal; color: red;
}
#warehouse .fruits-list {
    font-weight: normal; color: green;
}
.students-table {
    font-weight: bold; text-align: center;
}
tbody {
    background-color: green;
}
tbody td:nth-child(1){
    text-align: left; color: orange; background-color: white;
}
tbody td:nth-child(1n+2) {
    color: white;
}